// Tablet
@media screen and (max-width: 900px) {
  #about {
    padding-top: 2rem !important;
    align-items: flex-start;
    justify-content: flex-start;
    .w-100 {
      margin-top: 0 !important;
      margin-right: auto !important;
      margin-left: 0 !important;
    }
  }

  section.resume-section {
    margin-left: 2rem !important;
    max-width: 90%;
  }
}

// Phone
@media screen and (max-width: 767px) {
  #about {
    .w-100 {
      width: 100% !important;
      .mb-0 {
        font-size: 3rem;
      }
      .mb-5 {
        font-size: 1.75rem !important;
      }
    }
  }

  #projects {
    .w-100 {
      width: 100% !important;
    }
  }

  section.resume-section {
    margin-top: 0 !important;
    margin-right: auto !important;
    margin-left: 0 !important;

    .w-100 {
      width: 100% !important;

      .mb-5 {
        font-size: 2.5rem !important;
      }
    }
  }
}
